{% extends "layout.html" %} {%block content%}
<div class="aula">
    <div class="divperfil">
        <div class="nameline">
            <h1 id="hola">Hola nombre</h1>
            <img id="imgperfil" src="perfildefault.jpg" alt="foto perfil">
        </div>
        <div class="btnperfil">
            <button type="button" id="datBtn">Editar mis datos</button>
            <button type="button" id="outBtn">Salir</button>
        </div>
        <h2 id="title">Tus cursos</h2>
        <div class="container">
            <div class="card-deck" id="card-deck"></div>
        </div>
    </div>
</div>
<script>
    // Obtener el ID del registro desde la URL
    var urlParams = new URLSearchParams(window.location.search);
    var userId = urlParams.get("id");

    document.getElementById("datBtn").addEventListener("click", function () {

        var url = "modificar?id=" + encodeURIComponent(userId);

        // Dimensiones de la ventana
        var ventanaAncho = 530;
        var ventanaAlto = 900;

        // Calcular las coordenadas para centrar la ventana
        var ventanaIzquierda = (window.screen.width - ventanaAncho) / 2;
        var ventanaArriba = (window.screen.height - ventanaAlto) / 2;

        // Opciones de la ventana
        var opcionesVentana = 'width=' + ventanaAncho + ',height=' + ventanaAlto;
        opcionesVentana += ',left=' + ventanaIzquierda + ',top=' + ventanaArriba;
        opcionesVentana += ',location=no,menubar=no,status=no,toolbar=no,scrollbars=yes,resizable=yes';

        // Abrir la ventana
        window.open(url, '_blank', opcionesVentana);
    });
    document.getElementById("outBtn").addEventListener("click", function (registro) {
        event.preventDefault(); // Evitar que se envíe el formulario automáticamente
        window.location.href = "{{url_for('login')}}";
    });


    // Obtener los datos del registro desde la API
    var registroUrl = "https://basealumnosidp-default-rtdb.firebaseio.com/alumnos/" + userId + ".json";
    fetch(registroUrl)
        .then(function (response) {
            return response.json();
        })
        .then(function (data) {
            document.getElementById("hola").textContent = "Hola " + data.nombre;
            document.getElementById("imgperfil").src = data.perfil;

            //probar
            const cursos = [data.curso1, data.curso2, data.curso3];
            cursos.forEach(llamaCards)
            function llamaCards(value, index, array) {
                if (value !== "null" && value !== "") {

                    fetch("https://tiendacursosidp-default-rtdb.firebaseio.com/cursos/" + value + ".json")
                        .then(function (response) {
                            return response.json();
                        })
                        .then(function (curso) {
                            const cardDeck = document.getElementById('card-deck');

                            // Crear los elementos HTML para la card
                            const card = document.createElement('div');  //Aquí se está creando un nuevo elemento HTML div y asignándolo a la variable card. Luego se agrega la clase "card" a ese elemento utilizando el método classList.add().
                            card.classList.add('card');

                            const imagen = document.createElement('img');
                            imagen.classList.add('card-img-top');
                            imagen.src = curso.foto;

                            const cardBody = document.createElement('div');
                            cardBody.classList.add('card-body');

                            const titulo = document.createElement('h5');
                            titulo.classList.add('card-title');
                            titulo.textContent = curso.nombre;

                            const duracion = document.createElement('p');
                            duracion.classList.add('card-text');
                            duracion.textContent = 'Duración: ' + curso.duracion;

                            const info = document.createElement('button');
                            info.classList.add('botoncito2');
                            info.textContent = 'Ver Curso';
                            info.addEventListener("click", function (detalle) {
                                window.location.href = "curso?id=" + encodeURIComponent(curso.id);
                            });


                            // Agregar los elementos a la card, crea los elementos HTML que conforman una tarjeta y los agrega en el orden correspondiente, para finalmente agregar la tarjeta completa al contenedor de tarjetas.
                            cardBody.appendChild(titulo);
                            cardBody.appendChild(duracion);
                            cardBody.appendChild(info);
                            card.appendChild(imagen);
                            card.appendChild(cardBody);
                            cardDeck.appendChild(card);
                        })
                        .catch(function (error) {
                            console.error(error);
                        });
                }
            }
        })
</script>


{%endblock%}