{% extends "layout.html" %} {%block content%}
<div class="aula">

    <form class="formulario" id="loginForm">
        <h1>INICIA SESION</h1>
        <label for="dni">DNI:</label>
        <input type="text" id="dni" required>
        <label for="pass">Contraseña:</label>
        <input type="password" id="pass" required>
        <input type="submit" id="submit" value="Iniciar Sesión">
        <button type="button" id="regBtn">Registrarme!</button>
    </form>
</div>
<script>
    document.getElementById("loginForm").addEventListener("submit", function (event) {
        event.preventDefault(); // Evitar que se envíe el formulario automáticamente
        var dniInput = document.getElementById("dni").value;
        var passInput = document.getElementById("pass").value;
        var url = "https://basealumnosidp-default-rtdb.firebaseio.com/alumnos.json";

        // Realizar la petición GET a la API para obtener los registros
        fetch("https://basealumnosidp-default-rtdb.firebaseio.com/alumnos.json")
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                var userreg = false;
                var userId;

                // Buscar el registro que coincida con el MAIL y la contraseña ingresados
                for (var key in data) {
                    if (data.hasOwnProperty(key) && data[key].dni == dniInput) {
                        for (var key in data) {
                            if (data.hasOwnProperty(key) && data[key].pass === passInput) {
                                userId = key;
                                window.location.href = "aula?id=" + encodeURIComponent(userId);
                                break;
                            }
                            else {
                                alert("Contraseña incorrecta. Por favor, intenta nuevamente.");
                                break;
                            }
                        }
                        break;
                    }
                    else {
                        alert("El usuario no se encuentra registrado. Crea una cuenta en la sección 'REGISTRO'");
                        break;
                    }
                }
            })
            .catch(function (error) {
                alert("Ha ocurrido un error. Por favor, intenta nuevamente.");
                console.error(error);
            });
    });
    document.getElementById("regBtn").addEventListener("click", function (registro) {
        event.preventDefault(); // Evitar que se envíe el formulario automáticamente
        window.location.href = "{{url_for('registro')}}";
    });
</script>


{%endblock%}