{% extends "layout.html" %} {%block content%}
<article class="noticia2">
    <div class="row mt-4">
        <div class="col order-lg-2" id="noti2">
            <h2>Somos Ana, María y Laura</h2>
            <br>
            <p>Tres amigas apasionadas por la creatividad y la celebración de momentos especiales. Con el deseo de
                compartir nuestra pasión y conocimientos, creamos este espacio de aprendizaje en línea donde podrás
                descubrir el arte de hacer productos únicos para cumpleaños y eventos.</p>
            <p>Nuestra misión es inspirarte y enseñarte paso a paso a crear desde hermosos arreglos florales hasta
                decoraciones temáticas espectaculares. Con años de experiencia en diseño y organización de eventos,
                estamos aquí para guiarte en tu viaje emprendedor y ayudarte a convertir tus habilidades en un negocio
                exitoso.</p>
            <p>¡Bienvenido a nuestra comunidad creativa!</p>
        </div>
        <div class="col-lg-5 col-sm-12 order-lg-1" id="not2">
            <img class="img-fluid" id="fotonoticia2" src="{{ url_for('static', filename='img/nosotras.jpg')}}"
                alt="Scrum de jugadores de la M17">
        </div>
    </div>
</article>

{%endblock%}