{% extends "layout.html" %} {%block content%}
<div class="aula">

    <form class="formulario" id="loginForm">
        <h1>INICIA SESION</h1>
        <label for="dni">DNI:</label>
        <input type="text" id="dni" required>
        <label for="pass">Contraseña:</label>
        <input type="password" id="pass" required>
        <input type="submit" id="submit" value="Iniciar Sesión">
        <button type="button" id="regBtn">Registrarme!</button>
    </form>
</div>
<script>
    document.getElementById("loginForm").addEventListener("submit", function (event) {
        event.preventDefault(); // Evitar que se envíe el formulario automáticamente
        var dniInput = document.getElementById("dni").value;
        var passInput = document.getElementById("pass").value;

        // Realizar la petición GET a la API para obtener los registros
        fetch("https://basealumnosidp-default-rtdb.firebaseio.com/alumnos.json")
            .then(function (response) {
                if (response.ok) {
                    return response.json();
                }
                throw new Error("Error al obtener los datos de la base");
            })
            .then(function (data) {
                var userFound = false;
                var userId;


                for (var key in data) {
                    if (data.hasOwnProperty(key)) {
                        if (data[key].dni === dniInput) {
                            userId = key;
                            userFound = true;
                            break;
                        }
                    }
                }

                if (!userFound) {
                    alert("El usuario no esta registrado");
                    return;
                }

                if (data[userId].pass === passInput) {
                    window.location.href = "aula?id=" + encodeURIComponent(userId);
                } else {
                    alert("Contraseña incorrecta");
                }
            })
            .catch(function (error) {
                alert("ha ocurrido un error");
                console.error(error);
            });
    });

    document.getElementById("regBtn").addEventListener("click", function (registro) {
        event.preventDefault(); // Evitar que se envíe el formulario automáticamente
        window.location.href = "{{url_for('registro')}}";
    });
</script>


{%endblock%}